@use 'variables';

// header
@media screen and (min-width: variables.$mobile-min-width) and (max-width: variables.$mobile-max-width) {
    .conteiner {
        .header-green-bar {
            .shop-notification-wrapper {
                margin: 10px auto;
            }

            .shop-current-value-wrapper {
                margin: 10px auto;
            }
        }

        .main-navigation-wrapper {
            flex-direction: column;
            .navigation-wrapper-burger {
                .navigation-logo {
                        margin: 10px 0px;
                }
            }
            .navigation {
                margin: 0px 0px;
            }

      

            .main-navigation {
                margin: 10px 0px;

                .list-wrapper {
                    gap: 5px;
                    

                    li {
                        
                        font-size: 15px;
                        .sites {
                            font-size: 15px;
                        }
                    }
                }
            }

            .search-fild-wrapper {
                margin: 0px auto;
            }
        }

        .back-ground {
            .plant-shop-advice-wrapper {
                
                .advice {
                    margin: 157px auto 0px auto;
                    font-size: 76px;
                }
            }
        }

    }
}

@media screen and (min-width: variables.$mobile-min-width) and (max-width: variables.$mobile-max-width) {
    .toggle-menu {
        display: block;
    }

    .menu {
        display: none;
  
        top: 60px;
        left: 0;
        width: 100%;

    }

    .menu li {
        margin: 0;
        text-align: center;
    }

    .toggle-menu:checked + .hamburger .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle-menu:checked + .hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-menu:checked + .hamburger .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .toggle-menu:checked + .menu {
        display: flex;
    }
}


@media screen and (min-width:variables.$tabls-min-width) and (max-width:variables.$tabls-max-width) {
    .conteiner {
        .header-green-bar {
            .shop-notification-wrapper {
                margin: 10px 0px 10px auto;
            }

            .shop-current-value-wrapper {
                margin: 10px auto;
            }
        }


        .main-navigation-wrapper {
            .navigation-wrapper-burger {
                .navigation-logo {
                    margin-left: 30px;
                }
                .navigation {
                    margin-left: 50px;
                    .menu {
                        display: flex !important;
                    }
                    .toggle-menu {
                        display: none;
                    }
                    .hamburger {
                        display: none;
                    }
                }
            }
            .main-logo {
                margin: 10px auto;
            }

            .main-navigation {
                margin: 0px auto;

                .menu {
                    gap: 5px;
                    
                    

                    li {
                        padding: 5px;
                    }
                }
            }

            .search-fild-wrapper {
                margin: 0px auto;
            }

            .icon {
      
                    display: block;
     
            }
        }

        


    }

    
    
    
}

@media screen and (min-width:1400px) and (max-width:2900px) {
    .main-navigation-wrapper {
        .navigation-wrapper-burger {
            .navigation {
                .menu {
                    display: flex !important;
                }
                .toggle-menu {
                    display: none;
                }
                .hamburger {
                    display: none;
                }
            }
        }
    }
}



//MAIN
@media screen and (min-width: variables.$mobile-min-width) and (max-width: variables.$mobile-max-width) {
    .conteiner {
        .shop-category {
            .shop-description {
                margin: 0px auto;
                text-align: center;
            }
        }
    }

    .conteiner {
        .hotes-plans{
            .grid-conteiner {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
            }
        }
    }
}


@media screen and (min-width:variables.$tabls-min-width) and (max-width:variables.$tabls-max-width) {
    .conteiner {
        .shop-category {
            .shop-description {
                margin: auto 0px 0px 0px;
            }
        }

        
    }

    .conteiner {
        .hotes-plans{
            .grid-conteiner {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
            }
        }
    }
}

