//  HEADER
$main-header-bg-color:#50806B;
$text-color:#FFF;


// MAIN



// FOOTER


// ALL
$main-display:flex;
$main-wrap:wrap;
$font-open:'Open Sans', sans-serif;
$font-poppins:'Poppins', sans-serif;
$font-public:'Public Sans', sans-serif;
$font-robot:'Roboto', sans-serif;
$font-weight-700:700;



